@import url(https://fonts.googleapis.com/css?family=Muli);
p {
 color: #1b2584;
}
h1 {
  color: #1b2584;
}
h2 {
 color: #1b2584;
}
h3 {
 color: #1b2584;
}
ul {
 color: #1b2584;
}
html {
background-color:#e1e5f0;
}
td {
font-size:12px;
}
html {
  font-size: 12px;
  font-family: "Muli", sans-serif; 
}
a{
color: #1b2584;
text-decoration: none;
}
a:link{
color: #1b2584;
text-decoration: none;
font-weight: bold;
}
a:hover{
color: #1b2584;
text-decoration: none;
font-weight: bolder;
}
h1 {
  margin-top: 25px;
  margin-right: 150px;
  margin-left: 80px;
}
h2 {
  margin-right: 150px;
  margin-left: 80px;
}
h3 {
  margin-right: 150px;
  margin-left: 80px;
}
h4 {
  margin-right: 150px;
  margin-left: 80px;
}
p {
  margin-right: 150px;
  margin-left: 80px;
}
ul {
  margin-right: 150px;
  margin-left: 80px;
}
img {
overflow: hidden;
float: left;
border: 12px solid #e1e5f0;
filter: grayscale(100%);
}
