@import url(https://fonts.googleapis.com/css?family=Muli);
p {
 color: #222323;
}
h1 {
  color: #d124f2;
}
h2 {
 color: #222323;
}
h3 {
 color: #222323;
}
ul {
 color: #222323;
}
html {
background-color:#dbdbdb;
}
td {
font-size:12px;
}
html {
  font-size: 12px;
  font-family: "Muli", sans-serif; 
}
a{
color: #000000;
text-decoration: none;
}
a:link{
color: #000000;
text-decoration: none;
}
a:hover{ 
font-style: italic;
text-decoration: none;
}
h1 {
  margin-top: 25px;
  margin-right: 150px;
  margin-left: 80px;
}
h2 {
  margin-right: 150px;
  margin-left: 80px;
}
h3 {
  margin-right: 150px;
  margin-left: 80px;
}
h4 {
  margin-right: 150px;
  margin-left: 80px;
}
p {
  margin-right: 150px;
  margin-left: 80px;
}
ul {
  margin-right: 150px;
  margin-left: 80px;
}
img {
overflow: hidden;
float: left;
border: 12px solid #dbdbdb;
filter: grayscale(100%);
}
